@import '../../global.scss';

.works{
    justify-content: center;
    background-color: crimson;
    position: relative;
    margin-bottom: 70px;
    overflow: hidden;
.arrow{
    position: absolute;
    height: 10%;
    width: 20%;
    cursor: pointer;
    &.left{
        left: 1%;
        transform: rotateY(180deg);
    }
    &.right{
        right: 1%;
    }
}
    .slider{
        height: 350px;
        display: flex;
        position: absolute;
        left: 0;
        transition: all 1s ease-in-out;
        .container{
        width: 100vw;
        justify-content: center;
        .item{
            width: 700px;
            height: 100%;
            background-color: #fff;
            border-radius: 20px;
            justify-content: center;
            .left{
                flex: 4;
                height: 100%;
                justify-content: center;
                .leftContainer{
                    width: 90%;
                    height: 60%;

                    .imgContainer{
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        background-color: rgb(233, 126, 126);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 15px;
                        .work-img{
                            width: 33px;
                            padding: 3px;
                        }
                    }
                .title{
                    font-size: 20px;
                    text-transform: capitalize;
                    font-weight: 700;
                    margin-bottom: 15px;
                      } 
                    .paragraph{
                        font-size: 13px;
                        letter-spacing: 0.28px;
                        margin: 10px 0;
                        margin-bottom: 15px;
                       
                    }    
                    .sub-title{
                        font-size: 18px;
                        font-weight: 600;
                        text-decoration: underline;
                        text-transform: capitalize;
                        cursor: pointer;
                    } 
                }
            }
            .right{
                flex: 8;
                height: 100%;
                overflow: hidden;
                .right-image{
                    width: 400px;
                    transform: rotate(-10deg);
                    
                }
            }
        }
        }
    }
    
}